.cnt-hero-section{
    background-image: url("../../../assets/Image/contact-hero.png");

    height: 89vh;
    background-size: cover;
    background-position: right top;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
}